#root {
  @media #{$sm} {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main-section {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
    animation: fadeIn 0.5s ease;
    @media #{$sm} {
      flex-wrap: wrap;
    }

    .lft-cont {
      display: flex;
      border-radius: 5px;
      box-shadow: 0 0 12px $shadow-bg, 0 0 12px $shadow-bg;

      .content {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        width: 100%;
        overflow: auto;
        height: 100vh;

        @media #{$sm} {
          flex-direction: row;
        }

        .cls {
          display: flex;
          width: 100%;
          margin: 0.2rem 0;
          justify-content: flex-end;

          .btn {
            display: flex;
            margin: 0.2rem 0.5rem;
            font-size: 12px;
            color: grey;
            cursor: pointer;
          }
        }

        .card-sml {
          display: flex;
          flex-direction: column;
          padding: 1rem 1rem 0 1rem;
          border-radius: 5px;
          box-shadow: 0 0 12px $shadow-bg, 0 0 12px $shadow-bg;

          .hd {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 1rem;

            .txt {
              display: flex;
              white-space: nowrap;
              font-size: 14px;
              font-weight: bolder;
              color: $heading-color;
            }

            .sub-txt {
              display: flex;
              white-space: nowrap;
              font-size: 12px;
              font-weight: bolder;
              color: $secondary-color;
            }
          }

          .sc {
            display: flex;
            margin: 0.5rem 0;
            width: 100%;

            .txt {
              display: flex;
              white-space: nowrap;
              font-size: 10px;
              font-weight: bolder;
              color: $text-clr;
            }
          }

          .ft {
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-top: 2px solid $bdr-color;

            .txt {
              display: flex;
              margin: 0.5rem 0;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 900;
              color: $heading-color;
            }

            .ac {
              display: flex;
              margin: 0.5rem 0;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 900;
              color: $heading-color;
            }
          }
        }

        .pr-sec {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          background-color: transparent;

          .hd {
            display: flex;
            width: 100%;
            padding: 0.5rem 0;
            border-bottom: 2px solid $bdr-color;
            justify-content: space-between;

            .b-txt {
              display: flex;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 900;
              color: $heading-color;
            }
          }

          .bd {
            display: flex;
            flex-direction: column;

            .sl {
              margin: 0.3rem 0;
            }

            .row {
              display: flex;
              width: 100%;
              margin: 0.5rem 0;

              .txt {
                display: flex;
                white-space: nowrap;
                font-size: 11px;

                span {
                  display: flex;
                  font-size: 12px;
                  font-weight: 800;
                  margin: 0 0.2rem;
                }
              }

              .list {
                display: flex;
                flex-direction: column;
                height: 250px;
                width: 150px;
                overflow: auto;

                .chk{
                  display: flex;
                  margin: 0.5rem;
                  animation: fadeIn 0.5s ease;
                }
              }
            }
          }
        }

      }

    }

    .rt-cont {
      display: flex;


      .column {
        display: flex;
        flex-direction: column;


        .header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          border-bottom: 2px solid $bdr-color;
          @media #{$sm} {
            padding: 1rem;
          }

          .lft {
            display: flex;
            width: 100%;
            margin: 0 0.7rem;

            .lft-group {
              display: flex;
              align-items: center;
              margin: 0 0.3rem;

              .filter-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.2rem 0.5rem;
                outline: none;
                color: $heading-color;
                border-color: $heading-color;
                border-radius: 5px;
                font-weight: 600;
                background-color: transparent;
                text-transform: uppercase;
                cursor: pointer;
                border: 1px solid $heading-color;

                .ic {
                  display: flex;
                  margin: 0 0.2rem;

                  i {
                    display: flex;
                    width: 18px;
                    height: 18px;
                    transform: rotate(90deg);
                    background-color: $heading-color;
                  }

                  i.ic-filter {
                    -webkit-mask: url(../../content/filter-6535.svg) no-repeat center;
                  }
                }
              }

              .header-text {
                display: flex;
                flex-direction: column;
                margin: 0 0.8rem;
                line-height: 1;

                .txt {
                  white-space: nowrap;
                  font-weight: 800;
                  font-size: medium;
                  text-transform: uppercase;
                  color: $heading-color;
                }

                .sub-txt {
                  white-space: nowrap;
                  font-weight: 600;
                  font-size: small;
                  color: $text-clr;
                }
              }
            }
          }

          .rt {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin: 0 0.7rem;

            .rt-group {
              display: flex;
              margin: 0 0.3rem;

              .tabs {
                display: flex;
                @media #{$sm} {
                  display: none;
                }

                .tab {
                  display: flex;
                  margin: 0 0.5rem;
                  position: relative;
                  cursor: pointer;

                  .txt {
                    display: flex;
                    font-weight: 500;
                    color: $text-clr;
                    margin: 1rem;

                  }

                  .txt.active {
                    font-weight: 600;
                    color: $heading-color;
                  }
                }

                .tab.active {
                  display: flex;
                  justify-content: center;
                  border-bottom: 2px solid $secondary-color;

                  &:before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 15px;
                    top: 85%;
                    transform: rotate(45deg);
                    background-color: transparent;
                    border-right: 15px solid #32addf;
                    border-top: 15px solid transparent;
                  }
                }
              }
            }
          }
        }

        .section {
          display: flex;
          .cards-holder {
            display: flex;
            height: 90vh;
            overflow: auto;
            flex-direction: column;
            margin-top: 1rem;

            .card {
              display: flex;
              margin: 1rem;
              border-radius: 5px;
              box-shadow: 0 0 12px $shadow-bg, 0 0 12px $shadow-bg;
              @media #{$sm} {
                flex-direction: column;
              }


              .lft {
                display: flex;
                padding: 0.5rem;

                .lg {
                  display: flex;
                  border-radius: 5px;
                  @media #{$sm} {
                    width: 100%;
                  }

                  img {
                    display: flex;
                    width: 120px;
                    cursor: pointer;
                    border-radius: inherit;
                    @media #{$sm} {
                      width: 100%;
                      height: 120px;
                    }
                  }
                }
              }

              .rt {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0.5rem 0.5rem 0.5rem 0;

                .hd {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-bottom: 0.3rem;
                  border-bottom: 2px solid $bdr-color;

                  .txt {
                    display: flex;
                    white-space: nowrap;
                    font-size: 16px;
                    font-weight: 600;
                    color: $heading-color;
                    @media #{$sm} {
                      white-space: nowrap;
                      font-size: 12px;
                      overflow: hidden;
                      margin: 0 0.3rem;
                      width: 100px;
                      text-overflow: ellipsis;
                    }
                  }

                  .tags {
                    display: flex;

                    .tag {
                      border-radius: 16px;
                      font-size: 11px;
                      padding: 0.2rem 0.8rem;
                      margin: 0 0.5rem;
                      color: white;
                      font-weight: 700;
                      background-color: #e65550;
                    }
                  }
                }

                .sec {
                  display: flex;
                  width: 100%;
                  height: 100%;
                  @media #{$sm} {
                    flex-direction: column;
                    width: initial;
                    height: initial;
                  }

                  .sep {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 0.5rem;
                    line-height: 1;
                    border-right: 2px solid $bdr-color;

                    @media #{$sm} {
                      flex-direction: column;
                      align-items: center;
                      width: initial;
                      height: initial;
                    }

                    &:nth-child(5) {
                      border-right: none;
                    }

                    .str {
                      display: flex;

                      &:nth-child(5) {
                        justify-content: center;
                        margin: 0.5rem 0;
                      }

                      .txt {
                        display: flex;
                        white-space: nowrap;
                        font-size: 10px;
                        font-weight: 500;
                        color: $text-clr;

                        @media #{$sm} {
                          overflow: hidden;
                          width: 250px;
                          text-overflow: ellipsis;
                        }

                        span {
                          display: flex;
                          margin: 0 0.2rem;
                          color: $secondary-color;
                        }
                      }

                      .price {
                        display: flex;
                        flex-direction: column;

                        .price-txt {
                          display: flex;
                          flex-direction: column;
                          text-align: center;
                          white-space: nowrap;
                          font-weight: 800;

                          span {
                            display: flex;
                            justify-content: center;
                            margin: 0 0.2rem;
                            font-size: 16px;
                            white-space: nowrap;
                            color: $secondary-color;
                          }
                        }

                        span {
                          display: flex;
                          justify-content: center;
                          margin: 0 0.2rem;
                          font-size: 8px;
                          white-space: nowrap;
                          color: $text-clr;
                        }
                      }
                    }

                    .mid {
                      display: flex;

                      .icon-box {
                        display: flex;
                        margin: 0.2rem;

                        .ic {
                          display: flex;
                          margin: 0 0.2rem;

                          i {
                            width: 15px;
                            background-color: $secondary-color;
                          }

                          i.ic-air-plane {
                            -webkit-mask: url(../../content/airplane.svg) no-repeat center;
                          }

                          i.ic-train {
                            -webkit-mask: url(../../content/train.svg) no-repeat center;
                          }

                          i.ic-ship {
                            -webkit-mask: url(../../content/ship.svg) no-repeat center;
                          }

                          i.ic-subway {
                            -webkit-mask: url(../../content/subway-svgrepo-com.svg) no-repeat center;
                          }
                        }

                        .txt {
                          display: flex;
                          white-space: nowrap;
                          color: $text-clr;
                        }
                      }

                      .ac {
                        display: flex;

                        .btn {
                          display: flex;
                          border: none;
                          outline: none;
                          border-radius: 3px;
                          cursor: pointer;
                          color: white;
                          padding: 0.2rem 0.5rem;
                          background-color: $secondary-color;
                        }
                      }
                    }

                    .end {
                      display: flex;
                      flex-direction: column;

                      p {
                        white-space: nowrap;
                        width: 300px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0;
                        color: $text-clr;
                      }

                      .ic {
                        display: flex;
                        justify-content: center;
                        margin: 0 0 0.5rem 0;
                      }

                      .txt {
                        display: flex;
                        justify-content: center;
                        white-space: nowrap;
                        color: $text-clr;
                      }

                      .sub-txt {
                        display: flex;
                        justify-content: center;
                        white-space: nowrap;
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
            .card.active{
              border: 1px solid $secondary-color;
            }
          }
        }
      }
    }

  }

}